<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ./partials/_header.ejs %>
  <title>TinyApp</title>
</head>
<body style="text-align:center;">




  <% if(user){ %>
    <div>
      <% for(url in urls) { %>
        <form method="POST" action="/urls/<%= url %>/delete">
          <a href="<%= urls[url].longURL %>"><%= urls[url].longURL %></a> --> <%= url %>  <a href="/urls/<%= url %>">EDIT</a>  <button>DELETE</button>
        </form>
      <% }; %>
    </div>
  <% } else {%>
    <p>Please register to view URLS!</p>
    <a href="/register"><p>Register here!</p></a>
  <% } %>

    <form method = "POST" action="/urls/new/">
      <button>Shorten URL!</button>
    </form>


</body>
</html>