<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ./partials/_header.ejs %>
  <title>TinyApp</title>
</head>
<body style="text-align:center;">

  <div>
    <% for(url in urls) { %>
        <form method="POST" action="/urls/<%= url %>/delete">
          <a href="<%= urls[url] %>"><%= urls[url] %></a> --> <%= url %>  <a href="/urls/<%= url %>">EDIT</a>  <button>DELETE</button>
        </form>
    <% }; %>
  </div>

  <form method = "POST" action="/urls/new">
    <button>Shorten URL!</button>
  </form>

</body>
</html>